@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;

}
/* define all the colors within root as you can see the black color here */
:root {
    --black-color: #000;
    --golden-color: #B68C32;
    --black-color: #000;
    --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
}

.golden-color {
    color: var(--citrine);
}
.gray-color {
    color: var(--light-gray);
}
.gunmetal-color {
    color: var(--gunmetal-1)
}
.gunmetal-color2 {
    color: var(--gunmetal-2)
}
.blue-shade {
    color: var(--xiketic);
}
.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.custom-shadow {
    box-shadow: 4px 0 27px rgba(02, 3, 8, 0.20);
}
.text-golden {
    color: #B68C32;
  }
  
.custom-radius {
    border-radius: 20px;
}
.font-heading {
    font-family: 'Raleway', sans-serif !important;
}

.f-h1 {
    font-size: 3rem;
}

.f-sub-heading {
    font-size: 2rem;
}

.f-text {
    font-size: 1rem;
}
 
.vh-100 {
    min-height: 100vh;
  }
  
.vh-80 {
    min-height: 80vh;
  }
  
.w-50 {
    width: 50%;
  }
  
.w-75 {
    width: 75%;
  }
.w-45 {
    width: 45%;
  }

.width-48 {
    width: 48%;
}



  /*ABOUT US PAGE STYLING STARTS*/
  .dis-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .img-bg {
    width: 100%;
    background-image: url('../src/assets/images/cta-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-img2 {
    /* height: 500px; */
    background-image: url('../src/assets/images/hero-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
  }
  .tab-link {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .outline-btn{
    border: 2px solid var(--golden-color);
    
    background-color: var(--golden-color);
    /* color: white; */
    transition: all 0.5s ease-in-out;
  }
  .outline-btn:hover{
    border: 2px solid var(--golden-color);
    background-color: transparent;
    color: #000;
  }
  
  .img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .img-grid img {
    width: 150px;
  }
  
  .nav-tabs .active {
    background-color: #212529 !important;
    color: #fff !important;
  }
  .amb-sec {
    min-height: 120vh;
    height: auto;
  }
  .amb-bg {
    width: 100%;
    height: 50vh;
    margin: 30px 0;
    background-image: url('../src/assets/images/undraw_collaborating_re_l43g\ \(1\).svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .adv-bg-img {
    width: 100%;
    /* height: 100%; */
    height: 50vh;
    margin: 30px 0;
    background-image: url('../src/assets/images/undraw_pitching_re_fpgk\ \(1\).svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .promotion-bg {
    width: 100%;
    /* height: 100%; */
    height: 50vh;
    margin: 30px 0;
    background-image: url('../src/assets/images/undraw_marketing_re_7f1g.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .credit-bg {
    width: 100%;
    height: 50vh;
    margin: 30px 0;
    background-image: url('../src/assets/images/undraw_completed_tasks_vs6q.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .swiper {
    width: 600px;
    height: 300px;
  }
  .animate-btn {
    /* border: 4px dashed var(--golden-color); */
    /* border: 0.4vw solid rgba(0, 0, 0, 0.4); */
    background-color:green;

    transition: transform 0.3s linear;
    animation: spin 0.9s infinite linear;
  }

@keyframes spin {
  0% {
    /* -webkit-transform: rotate(0deg); */
    background: rgb(60, 110, 49);
    /* transform:scaleX(1.1); */

  }
  25% {
    /* -webkit-transform: rotate(359deg); */
    background: rgb(38, 104, 48);
    /* transform:scaleX(1.1); */

  }
  50% {
    /* -webkit-transform: rotate(359deg); */
    background: green;
    /* transform:scaleX(1.1); */

  }
  25% {
    /* -webkit-transform: rotate(359deg); */
    background: rgb(35, 177, 47);
    /* transform:scaleX(1.1); */
  

  }
}
  .credit-img {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    border: 4px dashed var(--golden-color);
    /* border: 0.4vw solid rgba(0, 0, 0, 0.4); */
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    animation: rotate 0.9s infinite linear;
  }

 
  /* @keyframes animate-border {
    0%{
        transform: rotate(60deg);
    }
    25%{
        transform: rotate(120deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }

  } */
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  .teams{
      font-family: 'Raleway', sans-serif;
  }
  .teams .shadow-effect {
          background: #fff;
          padding: 20px;
          border-radius: 20px;
          text-align: center;
            border:1px solid #ECECEC;
          box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
      }
      
      #customers-teams .item {
         height:200px !important;
          text-align: center;
          padding: 50px;
          margin-bottom:80px;
          opacity: .2;
          -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          }
      #customers-teams .owl-item.active.center .item {
          opacity: 1;
          -webkit-transform: scale3d(1.0, 1.0, 1);
          transform: scale3d(1.0, 1.0, 1);
      }
      .teams .owl-carousel .owl-item .img-circle {
          /* transform-style: preserve-3d; */
          max-width: 170px;
          margin: 0 auto 17px;
          transition: transform .5s;
      }
  .teams .owl-carousel .owl-item .img-circle:hover {
          transform: scale(0.9);
      }
      #customers-teams.owl-carousel .owl-dots .owl-dot.active span,
  #customers-teams.owl-carousel .owl-dots .owl-dot:hover span {
          background: rgba(215,67,77,0.8);
          transform: translate3d(0px, -50%, 0px) scale(0.7);
      }
  #customers-teams.owl-carousel .owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #customers-teams.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
  }
      #customers-teams.owl-carousel .owl-dots .owl-dot span {
          background: rgba(215,67,77,0.8);
          display: inline-block;
          height: 20px;
          margin: 0 2px 5px;
          margin-top:50px;
          transform: translate3d(0px, -50%, 0px) scale(0.3);
          transform-origin: 50% 50% 0;
          transition: all 250ms ease-out 0s;
          width: 20px;
          outline: none;
          border-radius:50% !important;
      }
  .owl-dot, .owl-dot:active, .owl-dot:focus { 
    outline: 0 !important;
  }
  
  @media only screen and (max-width: 1000px){
    /* body {
        overflow: hidden;
    } */
    .px-80 {
        padding-left: 0;
        padding-right: 0;
    }
    .rm-width {
        width: 90%;
    }


    #customers-teams.owl-carousel .owl-dots .owl-dot span {
    height:20px;
    width:20px;
    margin-top:30px;
    }
    .credit-img {
        width: 260px;
        height: 70px;
        border-radius: 50%;
        border: 4px dashed var(--golden-color);
        /* border: 0.4vw solid rgba(0, 0, 0, 0.4); */
        transform: rotate(0deg);
        transition: transform 0.7s linear;
        animation: rotate 0.9s infinite linear;
      }
  }

  /* ABOUT US STYLING ENDS HERE */