@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;

}
/* define all the colors within root as you can see the black color here */
:root {
    --black-color: #000;
    --golden-color: #B68C32;
    --black-color: #000;
    --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
}

.golden-color {
    color: var(--citrine);
}
.gray-color {
    color: var(--light-gray);
}
.gunmetal-color {
    color: var(--gunmetal-1)
}
.gunmetal-color2 {
    color: var(--gunmetal-2)
}
.blue-shade {
    color: var(--xiketic);
}
.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.custom-shadow {
    box-shadow: 4px 0 27px rgba(02, 3, 8, 0.20);
}
.text-golden {
    color: #B68C32;
  }
  
.custom-radius {
    border-radius: 20px;
}
.font-heading {
    font-family: 'Raleway', sans-serif !important;
}

.f-h1 {
    font-size: 3rem;
}

.f-sub-heading {
    font-size: 2rem;
}

.f-text {
    font-size: 1rem;
}
 
.vh-100 {
    min-height: 100vh;
  }
  
.vh-80 {
    min-height: 80vh;
  }
  
.w-50 {
    width: 50%;
  }
  
.w-75 {
    width: 75%;
  }
.w-45 {
    width: 45%;
  }

.width-48 {
    width: 48%;
}