
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;

}
/* define all the colors within root as you can see the black color here */
:root {
    --black-color: #000;
    --golden-color: #B68C32;
    --black-color: #000;
    --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: #B68C32;
  --xiketic: hsl(253, 21%, 13%);
}

.golden-color {
    color: var(--citrine);
}
.gray-color {
    color: var(--light-gray);
}
.gunmetal-color {
    color: var(--gunmetal-1)
}
.gunmetal-color2 {
    color: var(--gunmetal-2)
}
.blue-shade {
    color: var(--xiketic);
}
.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.custom-shadow {
    box-shadow: 4px 0 27px rgba(02, 3, 8, 0.20);
}
.text-golden {
    color: #B68C32;
  }
  
.custom-radius {
    border-radius: 20px;
}
.font-heading {
    font-family: 'Raleway', sans-serif !important;
}

.f-h1 {
    font-size: 3rem;
}

.f-sub-heading {
    font-size: 2rem;
}

.f-text {
    font-size: 1rem;
}
 
.vh-100 {
    min-height: 100vh;
  }
  
.vh-80 {
    min-height: 80vh;
  }
  
.w-50 {
    width: 50%;
  }
  
.w-75 {
    width: 75%;
  }
.w-45 {
    width: 45%;
  }

.width-48 {
    width: 48%;
}


li { list-style: none; }

a { text-decoration: none; }






body.active { overflow: hidden; }



/**
 * TITLES & SUBTITLES
 */

.h1,
.h2,
.h3 {
  color: white;
  line-height: 1.2;
}

.h1 { font-size: 36px }

.h2 { font-size: 32px; }

.h3 { font-size:18px; }

.section-subtitle {
  color: var(--citrine);
  font-size:12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.section-title { text-align: center; }

/**
 * BADGE
 */

.badge {
  color: white;
  font-size: 11px;
  font-weight:700;
  border: 2px solid transparent;
  padding: 2px 10px;
}

.badge-fill {
  background:white;
  color: hsl(228, 13%, 15%);;
}

.badge-outline { border-color: white; }

/**
 * MOVIE META
 */

.meta-wrapper {
  gap: 15px 25px;
  margin-bottom: 50px;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
}

.ganre-wrapper > a {
  color: hsl(0, 7%, 88%);
  font-size: 14px;
  font-weight: 500;
  transition: 0.15s ease;
}

.ganre-wrapper > a:is(:hover, :focus) { color: var(--citrine); }

.date-time { gap: 15px; }

.date-time > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: hsl(0, 7%, 88%);
  font-size:14px;
  font-weight: 500;
}


#myVideo {
    position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}
@media (min-aspect-ratio :16/8){
    #myVideo {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio :16/9){
    #myVideo {
        width: auto;
        height: 100%;
    }
}

/* google select language  */
.goog-te-gadget-icon {
  display:none;
}


.goog-te-gadget-simple {
    background: none !important;
  
    border:0 !important;
    font-size: 10pt;
   font-weight:800;
    display: inline-block;
    padding:10px 5px !important;
    cursor: pointer;
    zoom: 1;
    
}

.goog-te-gadget-simple  span {
   color:white !important;
}
#google_translate_element{ float:right;text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

/**
 * BUTTONS
 */

.btn1 {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: 0.15s ease;
}



.btn-primary1 { background: hsl(225, 25%, 9%); }

.btn-primary1:is(:hover, :focus) {
  background: var(--citrine);
  color: hsl(253, 21%, 13%);
}

/**
 * MOVIE CARD
 */



.movie-card .card-banner {
  position: relative;
  background: hsl(229, 15%, 21%);
  aspect-ratio: 1.2 / 1.5;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.15s ease;
}

.movie-card .card-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.15s ease;
}

.movie-card .card-banner:hover { box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5); }

.movie-card .card-banner:hover::after { background: hsla(0, 0%, 100%, 0.05); }

.movie-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: 70%;
}



.movie-card .card-title {
  color:white;
  font-size: 16px;
  transition: 0.15s ease;
}

.movie-card .card-title:is(:hover, :focus) { color: var(--citrine); }

.movie-card .title-wrapper time {
  color: var(--citrine);
  font-size: 14px;
  font-weight: 500;
}

.movie-card .badge { color: var(--citrine); }

.movie-card .duration { margin-left: auto; }

.movie-card :is(.duration, .rating) {
  display: flex;
  align-items: center;
  gap: 5px;
  color: hsl(0, 7%, 88%);
  font-size: 12px;
  font-weight: 500;
}



/**
 * CUSTOM SLIDER & SCROLLBAR
 */

.movies-list.has-scrollbar {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-bottom: 25px;
}

.has-scrollbar::-webkit-scrollbar { height: 8px; }

.has-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--citrine);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(0, 7%, 88%);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 black,
              inset 0 -1px 0 black;
}





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: 0.25s ease-in;
  z-index: 4;
}

.header.active {
  background: hsl(207, 19%, 11%);
  padding-block: 20px;
}


.header-actions { display: none; }

.menu-open-btn {
  background: transparent;
  color: hsl(0, 100%, 100%);
  font-size: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  background: hsl(207, 19%, 11%);
  width: 100%;
  max-width: 500px;
  height: 100%;
  box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
  transition: 0.15s ease-in;
  visibility: hidden;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  transition: 0.25s ease-out;
}



.menu-close-btn {
  background: transparent;
  color: white;
  font-size: 25px;
  padding: 5px;
}


.navbar-link {
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 25px;
 
  transition: 0.15s ease;
  border-bottom: none;
  text-transform: uppercase;

}

.navbar-link:is(:hover, :focus) { color: var(--citrine); }

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(204, 18%, 11%, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.25s ease-in;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* mycond   */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  line-height: 3rem;
  visibility: hidden;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
 
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: black;
}


.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--citrine);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
/* end */


/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background: url("./assets/images/hero-bg.jpg") no-repeat;
  /* background: url("./assets/images/bg-homeeee.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  min-height: 750px;
  height: 100vh;
  max-height: 1000px;
}

.hero-content { margin-top: 60px; }

.hero-subtitle {
  color: var(--citrine);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-title { margin-bottom: 30px; }

.hero-title > strong { color: var(--citrine); }




/*-----------------------------------*\
 * #coming soon page style start
\*-----------------------------------*/

.left-section-comm  {
  height: 100vh;
  width: 50vw;
  background: url("./assets/images/upcoming-bg.png") no-repeat;
 background-size: cover;
 background-position: center;
}
 .left-coming {
  color: black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 }
 
 .left-coming h1 {
   color: #B68C32;
   font-size: 3em;
   text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
   line-height: 1;
   text-align: left;
 }
 .right-section {
     
     background-image: url('./assets/images/tv-series-bg.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .right-side-img {
   width: 15rem;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }
 
 #countdown-container {
     display: inline-flex;
     box-sizing: border-box;
     border-top: 1px solid #B68C32;
     border-bottom: 1px solid #B68C32;
     line-height: 1;
     margin-top: 1.10em;
     margin-bottom: 1.10em;
     width: 100%;
   }
   
 .countdown-box {
     width: 6rem;
     height: 6rem;
   color: white;
   background: #B68C32;
   border-radius: 50%;
   margin: 0 auto;
  
}

.countdown-box::after {
 content: '';
 display: block;
 width: 6rem;
     height: 6rem;
     position: absolute; 
     border-radius: 50%;
      border: 3px dotted white;
   animation-name: RotateBorder;
animation-duration: 5s;
 animation-iteration-count: infinite;
animation-timing-function: linear;

}
.countdown-box p{
   font-size: 2em;
   text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

 .countdown-box span {
   font-size: 15px;
 }
 .left-coming a {
   color: #B68C32;
   text-decoration: none;
 }
 .btn-gold {
   background: #B68C32;
 
 }
 .left-coming a:hover {
   color: white;
   text-decoration: none;
   text-shadow: 0px 2.2px 2.2px rgba(0, 0, 0, 0.4);
 }
 @keyframes RotateBorder {
   from {
     -webkit-transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(360deg);
   }
 }

/*-----------------------------------*\
* #coming soon page style end
\*-----------------------------------*/


/* 404 styling */
#navigation a {
 color: white;
 text-decoration: none;
 border-bottom: 1px solid rgba(255,255,255,0.5);
 transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 margin-right: 10px;
}

#navigation a:last-child { margin-right: 0px; }

#navigation a:hover {
 text-shadow: 0px 0px 1px rgba(255,255,255,.5);
 border-bottom: 1px solid rgba(255,255,255,1);
}






#wrap {
 width: 80%;
 max-width: 1400px;
 margin:0 auto;
 height: auto;
 position: relative;
 margin-top: 8%;
}





#main-content {
 float: right;
 max-width: 45%;
 color: white;
 font-weight: 300;
 font-size: 18px;
 padding-bottom: 40px;
 line-height: 28px;
}

#main-content h1 {
 border-top: 2px solid white;
 margin: 0px;
 font-weight: 400;
 font-size: 42px;
 margin-bottom: 20px;
 line-height: normal;
}




#navigation { margin-top: 2%; }

#navigation a.navigation {
 display: block;
 float: left;
 background-color: rgba(0,0,0,0.2);
 padding-left: 15px;
 padding-right: 15px;
 color: white;
 height: 41px;
 line-height: 41px;
 text-decoration: none;
 font-size: 16px;
 transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 margin-right: 2%;
 margin-bottom: 2%;
 border-bottom: none;
}

#navigation a.navigation i { line-height: 41px; }

#navigation a.navigation:hover {
 background-color: #B68C32;
 border-bottom: none;
}


#wordsearch {
 width: 45%;
 float: left;
}

#wordsearch ul {
 margin: 0px;
 padding: 0px;
}
.image-404 {
 height: 12rem;
 width: 30rem;
}
#wordsearch ul li {
 float: left;
 width: 12%;
 background-color: rgba(0,0,0,.2);
 list-style: none;
 margin-right: 0.5%;
 margin-bottom: 0.5%;
   padding: 0;
   display: block;
   text-align: center;
   color: rgba(255,255,255,0.7);
   text-transform: uppercase;
   overflow: hidden;
   font-size: 24px;
   font-size: 1.6vw;
   font-weight: 300;
   transition: background-color 0.75s ease;
   -moz-transition: background-color 0.75s ease;
   -webkit-transition: background-color 0.75s ease;
   -o-transition: background-color 0.75s ease;
}

@media all and (max-width: 899px) {
 #wrap { width: 90%; }
}

@media all and (max-width: 799px) {
 #wrap { width: 90%; height: auto; margin-top: 40px; top: 0%; }
 #wordsearch { width: 90%; float: none; margin:0 auto; }
 #wordsearch ul li { font-size: 4vw; }
 #main-content { float: none; width: 90%; max-width: 90%; margin:0 auto; margin-top: 30px; text-align: justify; }
 #main-content h1 { text-align: left; }

}

@media all and (max-width: 499px) {
 #main-content h1 { font-size: 28px; }
}



/* end */


/*-----------------------------------*\
 * #UPCOMING
\*-----------------------------------*/

.upcoming {
  background: url("./assets/images/upcoming-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
}

.upcoming .flex-wrapper { margin-bottom: 50px; }

.upcoming .section-title { margin-bottom: 30px; }

.upcoming .filter-btn {
  color: white;
  background: hsl(228, 13%, 15%);
  font-size: 12px;
  font-weight: 500;
  border: 2px solid hsl(229, 15%, 21%);
  padding: 12px 26px;
  border-radius: 50px;
}

.upcoming .filter-btn:focus { border-color: var(--citrine); }

.upcoming .movies-list > li {
  min-width: 100%;
  scroll-snap-align: start;
}





/*-----------------------------------*\
 * #SERVICE
\*-----------------------------------*/

.service {
  background: url("./assets/images/service-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
}

.service-banner {
  position: relative;
  margin-bottom: 50px;
  max-width: max-content;
}

.service-banner img { width: 100%; border: 10px solid var(--citrine); }

.service-btn {
  position: absolute;
  bottom: 15px;
  right: 86px;
  background: var(--citrine);
  color: hsl(225, 25%, 9%);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  transform: rotate(0.25turn);
  transform-origin: bottom right;
  padding: 28px 35px;
  border-radius: 6px;
}
.service-subtitle {
  position: relative;
  color: hsl(0, 7%, 88%);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 50px;
  margin-bottom: 10px;
}

.service-subtitle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 40px;
  height: 3px;
  background: var(--citrine);
}

.service-title { margin-bottom: 20px; }

.service-text,
.service-card .card-text {
  color: hsl(0, 0%, 74%);
  font-size: 14px;
  font-weight: var();
  line-height: 1.8;
}

.service-text { margin-bottom: 40px; }

.service-list > li:first-child {
  padding-bottom: 20px;
  border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
  margin-bottom: 30px;
}

.service-card .card-icon {
  border: 2px dashed green;
  color: white;
  width: 85px;
  height: 85px;
  display: grid;
  place-items: center;
  font-size: 40px;
  border-radius: 50%;
  outline: 1px dashed var(--citrine);
  outline-offset: 5px;
  margin: 5px;
  margin-bottom: 20px;
  transition: 0.25s ease-in;
}

.service-card:hover .card-icon { background: var(--citrine); }

.service-card .card-title { margin-bottom: 10px; }




/*-----------------------------------*\
 * #TV SEREIS
\*-----------------------------------*/

.top-rated {
  background: url("./assets/images/tv-series-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
}

.top-rated .section-title { margin-bottom: 50px; }





/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
  background: linear-gradient(90deg,#B68C32  0%, var(--black-color) 100%);
  /* background: url("./assets/images/cta-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center; */
  text-align: center;
  padding-block: 50px;
}

.cta .title-wrapper { margin-bottom: 25px; }

.cta-title {
  color: varhsl(207, 19%, 11%);
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 5px;
}

.cta-text {
  color: hsl(207, 19%, 11%);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
}

.cta .email-field {
  color: hsl(207, 19%, 11%);
  font-size: 14px;
  padding: 18px 32px;
  border-radius: 4px;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
  margin-bottom: 15px;
}

.cta-form-btn {
  background: hsl(207, 19%, 11%);
  color: var(--citrine);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid hsl(207, 19%, 11%);
  padding: 15px 34px;
  border-radius: 4px;
  margin-inline: auto;
  transition: 0.15s ease;
}

.cta-form-btn:is(:hover, :focus) {
  background: var(--citrine);
  color: hsl(207, 19%, 11%);
}

.cta-form input {
  font: inherit;
  width: 100%;
  border: none;
}





/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: url("./assets/images/footer-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 80px 50px;
}


.footer {
  font-size: 14px;
  padding: 50px 0;

}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}


/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--citrine);
  color: hsl(207, 19%, 11%);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease-in;
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
}








/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 550px screen
 */

@media (min-width: 550px) {





  /**
   * HERO
   */

  .hero { min-height: unset; }

  .hero-content { margin-top: 20px; }



  /**
   * UPCOMING
   */

  .upcoming .movies-list > li { min-width: calc(50% - 15px); }



  /**
   * SERVICE
   */

  .service-list > li:first-child { padding-bottom: 30px; }

  .service-card {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .service-card .card-icon { margin-bottom: 0; }

  .service-card .card-content { width: calc(100% - 115px); }

}
/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  

  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }

  .header-actions .btn-primary1 { display: none; }

  .search-btn {
    position: relative;
    color: hsl(0, 100%, 100%);
  }


  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -20px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }

  .lang-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .lang-wrapper label {
    color: var(--citrine);
    font-size: 20px;
  }

  .lang-wrapper select {
    color: hsl(0, 100%, 100%);
    font-size: 14px;
    font-weight: 700;
  }

  .lang-wrapper option { color: hsl(0, 0%, 0%); }



  /**
   * HERO
   */

  .hero-content { margin-top: 90px; }



  /**
   * SERVICE
   */

  .service-btn {
    right: -20px;
    padding: 40px 50px;
  }  

  .service-content { padding-inline: 40px; }



  /**
   * CTA
   */

  .cta-form {
    position: relative;
    max-width: 530px;
    margin-inline: auto;
  }

  .cta .email-field { margin-bottom: 0; }

  .cta-form-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }



  /**
   * FOOTER
   */

  .footer-brand-wrapper .logo { margin: 0; }

  .footer-brand-wrapper,
  .quicklink-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quicklink-list { margin-bottom: 0; }

  .copyright { margin-bottom: 0; }

  .footer-bottom-img { margin-inline: 0; }




}



/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */


  /* MOVIE CARD */

  .movies-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * HEADER
   */

  .header.active { padding-block: 5px; }

  .menu-open-btn,
  .navbar-top,
  .navbar-social-list { display: none; }


  .navbar {
    all: unset;
    margin-left: auto;
  }

  .header-actions {
    order: 1;
    margin-left: 0;
  }

  .navbar-list {
    all: unset;
    display: flex;
    align-items: center;
  }


  .overlay { display: none; }



  /**
   * HERO
   */

  .hero { background-position: right; }

 

  .hero-content {
    margin-top: 100px;
    max-width: 600px;
  }



  /**
   * UPCOMING
   */

  .upcoming .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upcoming :is(.section-subtitle, .section-title) { text-align: left; }

  .upcoming .section-title { margin-bottom: 0; }

  .upcoming .movies-list > li { min-width: calc(33.33% - 20px); }



  /**
   * SERVICE
   */


  .service-content {
    padding-inline: 0;
    width: calc(100% - 470px);
  }

  .service-banner { margin-bottom: 0; }

  .service-btn { right: 111px; }



  /**
   * CTA
   */

  .cta { text-align: left; }

  .cta .title-wrapper {
    margin-bottom: 0;
    width: 100%;
  }

  .cta-form {
    margin-inline: 0;
    max-width: unset;
    width: 100%;
  }

}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {


  .container { max-width: 1320px; }

  /* MOVIE CARD */

  .movies-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * HEADER
   */

  .navbar { margin-inline: auto; }

  .header-actions .btn-primary1 {
    display: block;

    padding: 10px 35px;
    letter-spacing: 1px;
  }

  .close {
    cursor: pointer;
  }
  .modal-div {
    background: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    z-index: 1000;
  }

  /**
   * HERO
   */

  .hero .container { width: 1320px; }



  /**
   * UPCOMING
   */

  .upcoming .movies-list > li { min-width: calc(25% - 22.5px); }



  /**
   * SERVICE
   */

  .service-content { width: calc(100% - 700px); }

  .service-btn { right: -20px; }

  .service-list,
  .service-title { max-width: 480px; }
}

@media only screen and (max-width: 500px) {
  .navbar-top {
    position: absolute;
    top: 0;
    padding: 0 4px;
  }
  .navbar-list {
    position: absolute;
    top: 4rem;
    line-height: 3rem;
    width: 100%;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: 8rem !important;
  }

}
